# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Compiled class files
*.class

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# OS Files
.DS_Store
Thumbs.db

# Coverage
coverage/